footer {
    background-color: var(--dark-blue);
}

footer .wrapper-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 77px;
    text-align: center;
    gap: 32px;
    padding-block: 40px;
}

.footer-nav {
    display: grid;
    row-gap: 8px;
}

.socials-container {
    width: 185px;
    height: 24px;
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 34.25px;
}

.icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    color: var(--white);
}

.socials-container .facebook {
    background: url("/images/icon-facebook.svg") no-repeat center;
}

.socials-container .youtube {
    background: url("/images/icon-youtube.svg") no-repeat center;

}

.socials-container .twitter {
    background: url("/images/icon-twitter.svg") no-repeat center;
   }
   
.socials-container .pinterest {
    background: url("/images/icon-pinterest.svg") no-repeat center;
}

.socials-container .instagram {
    background: url("/images/icon-instagram.svg") no-repeat center;
}

.icon:hover {
    filter: brightness(0) saturate(100%) invert(67%) sepia(78%) saturate(393%) hue-rotate(102deg) brightness(86%) contrast(89%);;
}


.cta-container .btn {
    display: block;
    margin-inline: auto;
    margin-bottom: 24px;
}

.cta-container .copyright {
    color: var(--grayish-blue);
}

.footer-nav li a {
    color: var(--white);
    transition: color 250ms ease-in-out;
}

.footer-nav li a:hover {
    color: var(--lime-green);
}


@media (width >= 1024px) {
    footer .wrapper-desktop {
        flex-direction: row;
        justify-content: space-between;
        max-width: 1110px;
        margin-inline: auto;
        padding-inline: 0;
    }

    .footer-nav {
        grid-template-columns: repeat(2, 1fr);
        text-align: left;
        column-gap: 30px;
        margin-left: -80px;
    }
    .footer-nav li {
        min-width: 160px;
    }

    .socials {
        display: flex;
        flex-direction: column;
        justify-content: left;
    } 

    .socials-container {
        gap: 13.3px;
    }

    .cta-container {
        display: flex;
        flex-direction: column;
        justify-content: right;
    }

    .cta-container .btn {
        margin-right: 0;    
    }

   
}